{% extends 'base.html' %}
{% block title %}
IDGTUW (Student Management System)
{% endblock title %}
{% block home %}
menu-active
{% endblock home %}

{% block body %}
  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
     
    </div>

    <div class="container">

    </div>
    <div class="credits">  
      <br>
      &#169; 2022 copyright all right reserved | Developed by <a href="https://aditi-gulati.github.io/">ADITI GULATI</a>
      </div>
  </footer><!-- End  Footer -->
{% endblock body %}
